.header {
  background-color: #669cd9;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header .span {
  font-size: 24px;
  padding-top: 1.3rem;
}
.header .menu p {
  color: black;
}
.header .menu .col-lg- {
  padding-top: 2rem;
  display: inline-block;
  margin-left: 1rem;
  font-size: 16px;
}
.certificates h2 {
  margin-top: 5rem;
  margin-bottom: 7rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #669cd9;
}
.main img {
  max-width: 30rem;
}
.row2 {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  body {
    text-align: center;
  }
}
