.main h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 4rem;
}
body .content {
  margin-bottom: 25rem;
  margin-top: 3rem;
}
body .img img {
  max-width: 10rem;
  text-align: left;
  margin-top: 1rem;
}
body input {
  outline: 0 !important;
  border: none;
}
body .input {
  margin-bottom: 5rem;
  border-bottom: 1px solid #669cd9;
  max-width: 30rem;
}
body .right-content p {
  font-size: 16px;
  margin-bottom: 3rem;
}
body .footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #669cd9;
}
body .footer .logo img {
  max-width: 70px;
}
body .footer span {
  font-size: 20px;
}
.main-header {
  padding-top: 0rem;
  background-color: #669cd9;
}
.main-header a {
  text-decoration: none;
}
.main-header .logo {
  display: inline-block;
}
.main-header .logo img {
  padding-top: 1.5rem;
  display: inline-block;
  max-width: 7rem;
}
.main-header nav {
  width: 100%;
}
ul {
  padding-top: 0.5rem;
  text-align: right;
}
ul li {
  text-align: right;
  list-style: none;
  display: inline-block;
  padding: 20px;
}
ul li a {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}
ul li a :hover a {
  color: #fff;
  text-decoration: none;
}
.toggle {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}
.toggle .fa {
  display: inline-block;
  color: white;
}
@media (max-width: 767px) {
  .contact {
    margin-top: 5rem;
  }
  .main-header .logo img {
    display: none;
  }
  .logo img {
    max-width: 80px;
    display: inline-block;
    display: none;
  }
  .active {
    display: block;
  }
  .toggle {
    display: inline-block;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: left;
  }
  .footer {
    padding-top: 2rem;
  }
  .footer .logo {
    margin-bottom: 2rem;
    display: inline-block;
  }
  .footer .logo img {
    display: inline-block;
  }
  .footer .phone1 {
    display: inline-block;
  }
  .footer span {
    display: inline-block;
  }
  body {
    text-align: center;
  }
  body .input {
    text-align: center;
    display: inline-block;
  }
  body .right-content {
    margin-top: 5rem;
  }
  body .right-content img {
    display: none;
  }
}
@media (max-width: 997px) {
  body .right-content img {
    display: none;
  }
}
