.header {
  background-color: #669cd9;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header .span {
  font-size: 24px;
  padding-top: 1.3rem;
}
.header .menu p {
  color: black;
}
.header .menu .col-lg- {
  padding-top: 2rem;
  display: inline-block;
  margin-left: 1rem;
  font-size: 16px;
}
h2 {
  margin-top: 5rem;
  margin-bottom: 7rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #669cd9;
}
.circle {
  display: inline-block;
  background-color: #669cd9 ;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #669cd9 ;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  font-size: 1.9rem;
}
.about p {
  margin-top: 5rem;
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 767px) {
  body {
    text-align: center;
  }
  .media-body {
    text-align: left;
  }
  .all-in .col-md-3 {
    margin-top: 3rem;
  }
}
